.App {
  text-align: left;
}


.Column-text {
  text-shadow: black;
  text-align: center;
  color: black;
  margin-top: 15px;
  font-family: Helvetica Baloo;
  box-shadow: black;
}


.Column {
  margin-top: 50px;
  color: blueviolet;
  margin-right: 15px;
  background-color: #cbe6f1;
}